.btn-close {
    text-align: right;
    position: relative;
}
.mat-form-field-label-wrapper {
    font-size: 14px;
}
input {
    font-size: 14px;
}
.btn-close button {
    position: absolute;
    right: -9px;
    top: -30px;
}
h1 {
    font-size: 26px;
} 
.text-right {
    text-align: right;
    display: block;
    margin-top: 20px;
}
margin-r {
    margin-right: 10px !important;
}