<!-- <div class="header-container">
    <div class="contact-dialog-title" fxLayout="row" fxLayoutAlign="space-between">
      <div ><h1>Delete User</h1></div>
      <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div> -->
  <div class="row">
      <div class="text-right btn-close">  <button mat-icon-button (click)="close()">
          <mat-icon>close</mat-icon>
        </button></div>
      <div class="col-md-6 col-md-offset-3">
        <div class="text-black"><h1>Delete User</h1></div>
       
      </div>
    </div>
  <mat-dialog-content>
      <p>Are you sure, would you like to delete <b>{{data.name}}</b> User?</p>
  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row" fxLayoutAlign="space-between center">
    <button mat-raised-button (click)="close()" class="margin-r">Close</button>
    <button mat-raised-button color="warn" (click)="delete()">Delete</button>
  </mat-dialog-actions>