  <div class="row">
    <div class="text-right btn-close">  <button mat-icon-button (click)="close()">
        <mat-icon>close</mat-icon>
      </button></div>
    <div class="col-md-6 col-md-offset-3">
      <div class="text-black"><h1>{{(isAdd ? 'Add New User': 'Edit User')}}</h1></div>
     
    </div>
  </div>
  <mat-dialog-content>
    <form [formGroup]="registerForm" novalidate (ngSubmit)="onSubmit()">
      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="Name" formControlName="name" required>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field>
          <input matInput placeholder="URL" formControlName="url">
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field >
          <input matInput placeholder="Email" formControlName="email" required>
        </mat-form-field>
      </div>

      <div class="form-group">
        <mat-form-field>
          <input matInput type="number" placeholder="Age" formControlName="age" required>
        </mat-form-field>
      </div>
      <mat-form-field>
          <mat-select placeholder="Select Gender" [(value)]="selected" name="gender" formControlName="gender">
            <mat-option [value]="1">
            Male
          </mat-option>
          <mat-option [value]="2">
            Female
          </mat-option>
      </mat-select>
    </mat-form-field>
      <div class="form-group">
          <mat-form-field>
              <input matInput [matDatepicker]="picker" placeholder="Date Of Birth" formControlName="dateOfBirth" required>
              <mat-datepicker-toggle matSuffix [for]="picker" ></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>
      <div class="form-group">
        <mat-form-field>
          <textarea matInput formControlName="address"  placeholder="Address"required>
        </textarea>
        </mat-form-field>
      </div>
    </form>
  </mat-dialog-content>
  <mat-dialog-actions class="text-right">
    <button  class="margin-r" mat-raised-button (click)="close()">Close</button>
    <button mat-raised-button color="primary" (click)="update()" [disabled]="!registerForm.valid">{{isAdd? 'Add': 'Update'}}</button>
  </mat-dialog-actions>
  